bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
../.vs/
/.config
../.idea
.vs/
/dokumentacia/ClassDiagram1.png
/dokumentacia/dokumentacia-spacejoe.docx
/dokumentacia/~$kumentacia-spacejoe.docx
/dokumentacia/~WRL0004.tmp
